.card-container{
    width: 60vw;
    height: 60vh;
    box-shadow: 0 0 10px black;
    margin: 100px auto;
}
.card{
    display: flex;
  padding-left: 70px;
  background-color: black;
  color: white;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}
li{
    margin-left: 30px;
    list-style: none;
}
.btn{
    
}
.img{
    width: 100%;
    height: 310px;
}